th, td {
    text-align: center!important;
    vertical-align: middle!important;
}

.cityContainer .mapContainer > div:first-of-type {
    height: 300px;  
    width: 300px;
}

.graph {
    background-color: whitesmoke;
    width: max-content;
    padding: 20px 40px;
    border-radius: 5px;
    margin-top: 50px;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.list-group-item-action {
    margin: 0px!important;
}


.statCard {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ant-carousel .slick-dots li button {
    background: black!important;
}

.ant-carousel .slick-dots-bottom {
    bottom: -30px!important
}

.ant-carousel {
    width: 80%;
}

.ant-carousel .slick-prev,
.ant-carousel .slick-next {
  color: unset !important;
  font-size: unset !important;
}

.ant-carousel .slick-prev:hover,
.ant-carousel .slick-next:hover,
.ant-carousel .slick-prev:focus,
.ant-carousel .slick-next:focus {
  color: unset !important;
}

.swiper-button-prev, .swiper-button-next {
    color: white!important;
}