.body {
    flex: 0.8;
    background-image: linear-gradient(rgb(91, 87, 115),rgba(0, 0, 0, .7)) ;
    height: 100vh;
    color: white;
    padding: 20px 30px;
    overflow-y: overlay;
}

.body__songs::-webkit-scrollbar{
    display: none;
}

.body__info {
    display: flex;
    align-items: flex-end;
}

.album__logo {
    width: auto;
    height: 150px;
    object-fit: contain;
    object-position: center left;
}

.body__infoText {
    display: flex;
    margin-left: 20px;
    flex-direction: column;

}

.body__infoText strong {
    margin: 5px 0;
}

.body__infoText h2 {
    margin: 0;
    font-size: 48px;
}

.body__infoText p {
    margin-top: 10px;
    margin-bottom: 20px;
}

.body__songs {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    overflow: scroll;
}

.body__icons {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.body__icons svg {
    margin-right: 20px;
    font-size: 1.5rem;
}

.body__icons svg:hover {
    transition: all 0.2s ease-in-out;
    transform: scale(1.2) !important;    
    color: #1ed15e;
}

.body__icons svg:first-of-type {
    font-size: 2.5em;
}