.sidebar {
    padding: 20px;
    height: 100vh;
    flex: 0.2;
    background-color: #040404;
    color: white;
    min-width: 200px;
}

.sidebar__logo {
    width: 70%;
    margin-left: auto;
    margin-bottom: 15px;
}

.vertical__line {
    margin-bottom: 20px;
}

.sidebar__title {
    margin: 10px auto;
    margin-bottom: 20px;
}