.login {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100vh;
	width: 100%;
	padding-top: 100px;
	background-color: white;
}

.login__logo {
	margin: auto 10px;
	object-fit: contain;
	width: 100px;
}

.login__container {
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	height: fit-content;
	border-radius: 5px;
	border: 1px solid lightgray;
	padding: 20px;
	width: 300px;
}

.login__container > h1 {
	font-weight: 500;
	margin-bottom: 20px;
}

.login__container > form {
	display: flex;
	flex-direction: column;
}

.login__container > form > h5 {
	margin-bottom: 10px;
}

.login__container > form > input {
	margin-bottom: 20px;
	height: 30px;
	background-color: white;
	width: 98%;
}

.login__container > p {
	margin-top: 10px;
	font-size: 12px;
}

.signIn__button {
	background: #f0c14b;
    border: 1px solid;
    margin-top: 10px;
	border-color: #a88734 #9c7e31 #846a29;
	padding: 5px 10px;
	color: black;
	margin-bottom: 20px;
}

.register__button {
    border-radius: 2px;
    width: 100%;
    padding: 5px 0;
    text-align: center;
    font-weight: 600;
    color: black;
    vertical-align: middle;
    border: 1px solid;
    margin-top: 10px;
    background-color: #f0c14b;
    border-color: darkgray;
}

.register__button:hover {
    color:darkslategray;
}

.ant-message-custom-content.ant-message-error, .ant-message-custom-content.ant-message-loading, .ant-message-custom-content.ant-message-success {
    display: flex !important;
    align-items: center !important;
}